<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>

      <add name="VoterSearchConStr" connectionString="server=10.187.200.108,5433;Initial Catalog=DBTrueVoterSearch;User Id=sa;Password=wipro@123;" />
    
    <!--Server Connection String-->
    <!--<add name="SecConStr" connectionString="Data Source=JITENDRA-PC;Initial Catalog=SEC;Integrated Security=True;"/>
    <add name="SecTempConStr" connectionString="Data Source=JITENDRA-PC;Initial Catalog=TrueVoterDB;Integrated Security=True;"/>
    <add name="VoterSearchConStr" connectionString="Data Source=JITENDRA-PC;Initial Catalog=TrueVoterDB;Integrated Security=True;"/>-->
    <!--<add name="LocalConnectionString" connectionString="Data Source=SANTOSH-PC\SQL2012;Initial Catalog=TrueVoterDB;Integrated Security=True;"/>-->
   <!--<add name="VoterSearchConStr" connectionString="server=103.16.143.209;Initial Catalog=DBVoterSearch;User Id=come2myct;Password=myct2013;"/>-->
    <!--true voter Connection string-->
    <add name="NominationConnectionString" connectionString="server=52.172.181.246,1433;Initial Catalog=SEC;User id=truevoter;Password=myabhinavit@123;"/>
    
     <!-- Sec Server Connection String -->
    <add name="SecConStr" connectionString="server=10.187.201.186,5433;Initial Catalog=SEC;User Id=truevoter;Password=!)voter@123;"/>
    
    <add name="SecTempConStr" connectionString="server=10.187.201.186,5433;Initial Catalog=SEC_TV;User Id=truevoter;Password=!)voter@123;"/>
  </connectionStrings>
  
  
  <system.serviceModel>
    
    <behaviors>
      
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="serviceBehavior1">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    
    <services>
      <service behaviorConfiguration="serviceBehavior" name="LatestVoterSearch.Service1">
        <endpoint address="../Service1.svc" binding="webHttpBinding" contract="LatestVoterSearch.IService1"  behaviorConfiguration="web"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="serviceBehavior1" name="LatestVoterSearch.WCFVoterSearchWS">
        <endpoint address="" binding="webHttpBinding" contract="LatestVoterSearch.IWCFVoterSearchWS"  behaviorConfiguration="web"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    
  </system.serviceModel>
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    
  </system.webServer>

</configuration>
